<% provide(:title, @user.name) %>
<div class="row" id="box_background">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= @user.name %>
      </h1>
      <h3>
        <%= @user.email %>
      </h3>
    </section>
  </aside>
</div>
