<div class="center jumbotron">

  <h1>Homepage</h1>

  <h2>
    Questa è la homepage di BookMark, un progetto per il Laboratorio di Applicazioni Software e Sicurezza Informatica
  </h2>
  
  <%= link_to "Registrati", '#', class: "btn btn-lg btn-primary" %>

</div>
