<div class="center jumbotron" id="box_background">

  <h1>Homepage</h1>

  <h2 id="label_container">
    Questa è la homepage di BookMark, un progetto per il Laboratorio di Applicazioni Software e Sicurezza Informatica
  </h2>

  <%= link_to "Registrati", signup_path, class: "btn btn-lg btn-primary" %>

</div>
