<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BookMark", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><h4 id="label_header">Trova il tuo prossimo libro preferito</h4></li>
        <li><%= link_to "Accedi", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
